{% extends "master.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<div class="container-fluid" style="padding-top: 50px;">
    <div class="row">
       <div class="col-lg-2"></div>
       <div class="col-lg-8">
          <div class="iq-card">
             <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                   <h4 class="card-title">Item Details</h4>
                </div>
             </div>
             <div class="iq-card-body">
                <div class="new-user-info">
                   <form>
                      <div class="row">
                         <div class="form-group col-md-12">
                            <label for="cname">Item Name:</label>
                            <input type="text" class="form-control" id="item" placeholder="Item Name" required>
                         </div>
                         <div class="form-group col-md-12">
                            <button type="button" class="btn btn-primary" onclick="submits()">Submit</button>
                         </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
       <div class="col-lg-2"></div>
    </div>
 </div>
<script>
    function submits(){
      
        $.ajaxSetup({
 headers: { "X-CSRFToken": '{{csrf_token}}' }
});
$.ajax({
    url: '/adminapp/items/',
    method:'POST',
    data:{
        item: $('#item').val()
    },
    success: function(response){
    
     alert(response.msg)
      location.reload(true)
    }
})
    }
</script>
{% endblock %}