{% extends "master.html" %}
{% load static %}
{% block content %}
<div class="div" style="padding-top: 90px;" >
    <div class="row">
                  
        <div class="col-lg-12">
           <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                 <div class="iq-header-title">
                    <h4 class="card-title">Loan History</h4>
                 </div>
              </div>
              <div class="iq-card-body">
                 <table class="table table-bordered table-responsive-md table-striped text-center dataTable">
                    <thead>
                       <tr>
                         <th>S.No</th>
                         <th>Loan No</th>
                         <th>Loan Date</th>
                         <th>Customer Name</th>
                         <th>Interest</th>
                         <th>Gross wt</th>
                         <th>Net wt</th>
                         <th>Market Value</th>
                         <th>Loan Amount</th>
                         <th>Advance Paid</th>
                         <th>Doc Fees</th>
                         <th>Net Amount</th>
                         <th>Maturity Date</th>
                       </tr>
                       <tr>
                         <td>1</td>
                         <td>39900</td>
                         <td>01/01/2020</td>
                         <td>Anusree</td>
                         <td>10%</td>
                         <td>150gm</td>
                         <td>550gm</td>
                         <td>45000</td>
                         <td>40000</td>
                         <td>25000</td>
                         <td>1800</td>
                         <td>15000</td>
                         <td>01/01/2020</td>
                       </tr>
                       <tr>
                         <td>2</td>
                         <td>39900</td>
                         <td>01/01/2020</td>
                         <td>Anusree</td>
                         <td>10%</td>
                         <td>150gm</td>
                         <td>550gm</td>
                         <td>45000</td>
                         <td>40000</td>
                         <td>25000</td>
                         <td>1800</td>
                         <td>15000</td>
                         <td>01/01/2020</td>
                       </tr>
                       <tr>
                         <td>3</td>
                         <td>39900</td>
                         <td>01/01/2020</td>
                         <td>Anusree</td>
                         <td>10%</td>
                         <td>150gm</td>
                         <td>550gm</td>
                         <td>45000</td>
                         <td>40000</td>
                         <td>25000</td>
                         <td>1800</td>
                         <td>15000</td>
                         <td>01/01/2020</td>
                       </tr>
                       <tr>
                         <td>4</td>
                         <td>39900</td>
                         <td>01/01/2020</td>
                         <td>Anusree</td>
                         <td>10%</td>
                         <td>150gm</td>
                         <td>550gm</td>
                         <td>45000</td>
                         <td>40000</td>
                         <td>25000</td>
                         <td>1800</td>
                         <td>15000</td>
                         <td>01/01/2020</td>
                       </tr>
                    </thead>
                 </table>
              </div>
           </div>
        </div>
     </div>
</div>
{% endblock %}