{% extends "master.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<div class="div" style="padding-top:50px;">
    
    <div class="row">
        <div class="col-lg-3">
           <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                 <div class="iq-header-title">
                    <h4 class="card-title">New Customer</h4>
                 </div>
              </div>
              <div class="iq-card-body">
                 <form>
                    <div class="form-group">
                       <div class="add-img-user profile-img-edit">
                          <img class="profile-pic img-fluid" src="{% static 'images/user/11.png' %}" alt="profile-pic">
                          <div class="p-image">
                             <label for="" class="">Upload Photo</label>
                             <input class="form-control  upload-button btn iq-bg-primary"    name="photo" type="file" id="photo" >
                             <!-- <a href="javascript:void();" class="upload-button btn iq-bg-primary">Upload Photo</a> -->
                             <!-- <input class="file-upload" type="file" accept="image/*" id="photo"> -->
                          </div>
                          <div class="p-image">
                             <!-- <a href="javascript:void();" class="upload-button btn iq-bg-primary">ID Proof</a>
                             <input class="file-upload" type="file" accept="image/*" id="idproof"> -->
                             <label for="" class="">Id Proof</label>
                             <input class="form-control  upload-button btn iq-bg-primary"name="photo" type="file" id="idproof" >
                          </div>
                       </div>
                       <div class="img-extension mt-3">
                          <div class="d-inline-block align-items-center">
                             <span>Only</span>
                             <a href="javascript:void();">.jpg</a>
                             <a href="javascript:void();">.png</a>
                             <a href="javascript:void();">.jpeg</a>
                             <span>allowed</span>
                          </div>
                       </div>
                    </div>
                    <div class="form-group">
                       <label for="furl">Facebook Url:</label>
                       <input type="text" class="form-control" id="furl" placeholder="Facebook Url">
                    </div>
                    <div class="form-group">
                       <label for="turl">Twitter Url:</label>
                       <input type="text" class="form-control" id="turl" placeholder="Twitter Url">
                    </div>
                    <div class="form-group">
                       <label for="instaurl">Instagram Url:</label>
                       <input type="text" class="form-control" id="instaurl" placeholder="Instagram Url">
                    </div>
                    <div class="form-group">
                       <label for="lurl">Linkedin Url:</label>
                       <input type="text" class="form-control" id="lurl" placeholder="Linkedin Url">
                    </div>
                 </form>
              </div>
           </div>
        </div>
        <div class="col-lg-9">
           <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                 <div class="iq-header-title">
                    <h4 class="card-title">Customer Information</h4>
                 </div>
              </div>
              <div class="iq-card-body">
                 <div class="new-user-info">
                    <form>
                       <div class="row">
                          <div class="form-group col-md-6">
                             <label for="fname">First Name:</label>
                             <input type="text" class="form-control" id="fname" placeholder="First Name">
                          </div>
                          <div class="form-group col-md-6">
                             <label for="lname">Last Name:</label>
                             <input type="text" class="form-control" id="lname" placeholder="Last Name">
                          </div>
                          <div class="form-group col-sm-6">
                             <label>Gender:</label>
                             <select class="form-control" id="gender">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                             </select>
                          </div>
                          <div class="form-group col-md-6">
                             <label for="mobno">Date of Birth:</label>
                             <input type="date" class="form-control" id="dob" placeholder="DOB">
                          </div>
                          <div class="form-group col-md-6">
                             <label for="mobno">Mobile Number:</label>
                             <input type="text" class="form-control" id="mobile" placeholder="Mobile Number">
                          </div>
                          <div class="form-group col-md-6">
                             <label for="email">Email:</label>
                             <input type="email" class="form-control" id="email" placeholder="Email">
                          </div>
                          <div class="form-group col-md-6">
                             <label for="cname">Father's Name:</label>
                             <input type="text" class="form-control" id="faname" placeholder="Father's Name">
                          </div>
                          <div class="form-group col-md-6">
                             <label for="mobno">Contact Number:</label>
                             <input type="text" class="form-control" id="fmobile" placeholder="Contact Number">
                          </div>
                          <div class="form-group col-md-6">
                             <label for="add1">Street Address 1:</label>
                             <input type="text" class="form-control" id="add1" placeholder="Street Address 1">
                          </div>
                          <div class="form-group col-md-6">
                             <label for="add2">Street Address 2:</label>
                             <input type="text" class="form-control" id="add2" placeholder="Street Address 2">
                          </div>
                          <div class="form-group col-md-6">
                             <label for="cname">City:</label>
                             <input type="text" class="form-control" id="city" placeholder="City Name">
                          </div>
                          <div class="form-group col-md-6">
                             <label for="cname">State:</label>
                             <input type="text" class="form-control" id="state" placeholder="State">
                          </div>
                          <div class="form-group col-md-6">
                             <label for="cname">Pincode:</label>
                             <input type="text" class="form-control" id="pincode" placeholder="Area Code">
                          </div>
                          <div class="form-group col-sm-6">
                             <label>Country:</label>
                             <select class="form-control" id="country">
                                <option>Select Country</option>
                                <option>India</option>
                                <option>England</option>
                                <option >USA</option>
                                <option>Canada</option>
                                <option>Africa</option>
                             </select>
                          </div>
                       </div>
                       <hr>  
                       <h5 class="mb-3">Security</h5>
                       <div class="row">
                          <div class="form-group col-md-6">
                             <label for="uname">User Name:</label>
                             <input type="text" class="form-control" id="email" placeholder="User Name">
                          </div>
                          <div class="form-group col-md-6">
                             <label for="pass">Password:</label>
                             <input type="password" class="form-control" id="password" placeholder="Password">
                          </div>
                       </div>                               
                       <div class="row">
                          <div class="form-group col-md-12">
                             <button type="submit" class="btn btn-primary" onclick="add()">Add Customer</button>
                          </div>
                       </div>
                       
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div>
     

</div>

<script>
     function add(){
           
           $.ajaxSetup({
 headers: { "X-CSRFToken": '{{csrf_token}}' }
});
var data= new FormData()
  
  data.append("photo",$("input[id^='photo']")[0].files[0]);
  data.append("idproof",$("input[id^='idproof']")[0].files[0]);
  data.append("name",$('#fname').val());
  data.append("lname",$('#lname').val());
  data.append("email",$('#email').val());
  data.append("password",$('#password').val());
  data.append("fname",$('#faname').val());
  data.append("add1",$('#add1').val());
  data.append("add2",$('#add2').val());
  data.append("city",$('#city').val());
  data.append("state",$('#state').val());
  data.append("country",$('#country').val());
  data.append("pincode",$('#pincode').val());
  data.append("mobile",$('#mobile').val());
  data.append("fmobile",$('#fmobile').val());
  data.append("dob",$('#dob').val());
  data.append("furl",$('#furl').val());
  data.append("turl",$('#turl').val());
  data.append("instaurl",$('#instaurl').val());
  data.append("lurl",$('#lurl').val());
  data.append("gender",$('#gender').val());
//   data.append("gender",$("input[name='gender']").val());
           $.ajax({
               url:'/adminapp/fnuser/',
               type:'POST',
               enctype: 'multipart/form-data',
               contentType: false,
               processData: false,
               data:data,
               success:function(response){
                 alert(response.msg)
                 location.reload(true)
               }
           })
       }
</script>
{% endblock %}